
<div class="column is-6 is-offset-3">

  <a class="button is-info is-outlined" id="back_btn" (click)="go_back()"> BACK </a>
  <br/><br/>

  <h1 class=""><strong> ABOUT </strong></h1>

  <p> 
    This Application Was Built By the <strong> Mortela Q </strong> team for 
    commercial use and is copyrighted under law.  
    This software is proprietary and any distribution without legal consent of 
    the owner is unlawful. 
  </p>
  <br/>
  <p><strong> MORTELA Q </strong></p>
  <p> Contact:  &nbsp;&nbsp;&nbsp; Efenstakes101@gmail.com </p>

</div>